.myhero {
  margin-top: 61px;
  padding-bottom: 140px;
  height: 100%;
  background-image: url("../assets/images/home-page-virat-banner-1.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.heroheading p {
  font-size: 18px;
  margin-bottom: 40px;
}
.heroheading h2 {
  font-weight: 600;
  font-size: 40px;
  padding-top: 40px;
}
.myherowrap {
  width: 50%;
  margin: auto;
}
.circlediv {
  text-align: center;
}
.circledivs {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 40px;
}

.circleitem {
  background-image: url("https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/health.svg");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.health {
}
.viewprice {
  margin-bottom: 20px;
}
.viewpricediv {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
}

.mobnumber {
  border-left: 1px solid rgb(168, 168, 168);
}

.viewpricecommon {
  padding: 10px;
  background-color: white;
  height: 100%;
}
.pin {
  border-right: 1px solid rgb(168, 168, 168);
}
.addmember {
}
.mobnumber {
  border-right: 1px solid rgb(168, 168, 168);
}

.price {
  height: 82px;
  justify-content: center;
  text-align: center;
}
.myinput {
  border: none;
}
.viewpricebutton {
  background-color: orange;
  height: 47px;
  width: 110px;
  margin-top: auto;
  font-weight: 900;
  margin-top: 8px;
}
.policybutton {
  background-color: white;
  height: 40px;
  width: 50%;
  font-weight: 600;
  color: orange;
  border-radius: 20px;
}
.term button:hover {
  color: orange !important;
}

.myprotectwrap {
  width: 50%;
  margin: auto;
}
.mainprotect {
  margin-top: 50px;
}
.protectnaming {
  background-color: #f5f5f5;
  border-radius: 35px;
  width: 147px;
  padding: 7px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.protectitems {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.protectitem {
  border: 1px solid rgb(221, 221, 221);
  padding: 20px;
  width: 33%;
  margin: 0 10px;
  border-radius: 5px;
}
.whychoseus {
  margin-top: 80px;
}
.whychoseuswrap {
  width: 50%;
  margin: auto;
}
.choseuscomponents {
  margin-top: 40px;
  padding-bottom: 50px;
}
.choseuscomponent {
  text-align: center;
}

.choseuscomponent h3 {
  font-weight: 600;
}

.choseuscomponent p {
  font-size: 16px;
  color: rgb(75, 75, 75);
  font-weight: normal;
}

.choseuscomponent a {
  color: orange;
  font-weight: 600;
}
